Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  misc-*

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*

HeaderFilterRegex: 'src/.*|include/.*'

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE