Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-core.uninitialized.ArraySubscript,
  -clang-analyzer-core.DivideZero,
  performance-*,
  readability-*,
  portability-*,
  -cppcoreguidelines-*,
  -modernize-*,
  -hicpp-*,
  -google-*,
  -fuchsia-*,
  -llvm-*,
  -objc-*

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  performance-*

HeaderFilterRegex: 'src/.*|include/.*'

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE